<div class="container">
  <h1>CHOO CHOO REVIEW</h1>
  <h2>All Available Lines:</h2>

  <div>
    <% @trains.each do |train| %>
      <li>
      <%= link_to "#{train.name.upcase} LINE", train_path(train) %>
      </li>
    <% end %>
  </div>
</div>
